<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Authentication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Tiktok Management System" />
    <meta name="author" content="Alimstudio" />
    <meta name="theme-color" content="#5f5eaa">
    <meta name="msapplication-TileColor" content="#5f5eaa">
    <meta name="msapplication-navbutton-color" content="#5f5eaa">
    <meta name="apple-mobile-web-app-status-bar-style" content="#5f5eaa">

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon/apple-touch-iphone.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/icon/apple-touch-ipad.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/icon/apple-touch-iphone4.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/icon/apple-touch-ipad-retina.png') }}" />

    <!-- ================== BEGIN core-css ================== -->
    <link media="all" href="{{ url_for('static', filename='css/vendor.min.css') }}" rel="stylesheet" type="text/css" />
    <link media="all" href="{{ url_for('static', filename='css/app.min.css') }}" rel="stylesheet" type="text/css" />
    <link media="all" href="{{ url_for('static', filename='plugins/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- ================== END core-css ================== -->

</head>

<body class='pace-top'>
    <!-- BEGIN #app -->
    <div id="app" class="app app-full-height app-without-header">
        <!-- BEGIN login -->
        <div class="login">
            <!-- BEGIN login-content -->
            <div class="login-content">
                <form autocomplete="off" method="post" data-type="save" id="form_tambah" class="needs-validation" novalidate>
                    <h1 class="text-center">Sign In</h1>
                    <div class="text-white text-opacity-50 text-center mb-4">
                        For your protection, please verify your identity.
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email">Email Address <span class="text-danger">*</span></label>
                        <input type="email" id="email" required class="form-control form-control-lg bg-white bg-opacity-5" name="email" value="jufal69@gmail.com" placeholder="" />
                    </div>
                    <div class="mb-3">
                        <div class="d-flex">
                            <label class="form-label" for="password">Password <span class="text-danger">*</span></label>
                            <!-- <a href="{{ baseUri }}auth/forgot" style="font-size: 12px;" class="ms-auto text-white text-decoration-none text-opacity-50">Forgot password?</a> -->
                        </div>
                        <input type="password" id="password" required class="form-control form-control-lg bg-white bg-opacity-5" name="password" value="admin" placeholder="" />
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="auth-remember-check" />
                            <label class="form-check-label" for="auth-remember-check">Remember me</label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-theme btn-lg d-block w-100 fw-500 mb-3 signin">Sign In</button>
                    <div class="text-center text-white text-opacity-50">
                        Don't have an account yet? <a href="{{ baseUri }}auth/signup">Sign up</a>.
                    </div>
                </form>
            </div>
            <!-- END login-content -->
        </div>
        <!-- END login -->

        <!-- BEGIN btn-scroll-top -->
        <a href="#" data-toggle="scroll-to-top" aria-label="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
        <!-- END btn-scroll-top -->
    </div>
    <!-- END #app -->

    <!-- ================== BEGIN core-js ================== -->
    <script async defer src="{{ url_for('static', filename='plugins/jquery/dist/jquery.min.js') }}"></script>
    <script async defer src="{{ url_for('static', filename='plugins/toastify-js/src/toastify-js.js') }}"></script>
    <script async defer src="{{ url_for('static', filename='plugins/sweetalert2/sweetalert2.min.js') }}"></script>
    <script async defer src="{{ url_for('static', filename='js/lord-icon-2.1.0.js') }}"></script>
    <script async defer src="{{ url_for('static', filename='js/as.js') }}"></script>
    <script async defer src="{{ url_for('static', filename='js/vendor.min.js') }}"></script>
    <script async defer src="{{ url_for('static', filename='js/app.min.js') }}"></script>
    <script async defer src="{{ url_for('static', filename='js/env/auth/auth.js') }}"></script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register("/sw.js", {
                        scope: '/'
                    })
                    .then(function(registration) {
                        // Registration was successful
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    }, function(err) {
                        // registration failed :(
                        console.log('ServiceWorker registration failed: ', err);
                    });
            });
        }
    </script>
    <!-- ================== END core-js ================== -->
</body>

</html>