<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none">

<head>

    <meta charset="utf-8" />
    <title>
        {% block title %}{% endblock %} - Tiktok System
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Tiktok Dashboard System" name="description" />
    <meta content="Alimstudio" name="author" />
    <!-- App favicon -->

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">

    <!-- page css -->
    {% block css %}{% endblock %}

    <script>
        var GLOBAL_COOLDOWN = 5000
    </script>

    <!-- Layout config Js -->
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <!-- Bootstrap Css -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{{ url_for('static', filename='css/icons.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{{ url_for('static', filename='css/app.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{{ url_for('static', filename='css/custom.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet" type="text/css" />

    <link href="{{ url_for('static', filename='libs/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="full-loading">
        <div class="loadingio-spinner-double-ring-l7n4deimnn">
            <div class="ldio-4eh2dwxukok">
                <div></div>
                <div></div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin page -->
    <div id="layout-wrapper">
        {% include 'layout/navbar.html' %} {% include 'layout/sidebar.html' %}
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            {% block content %}{% endblock %}
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>
                                document.write(new Date().getFullYear())
                            </script> © Tiktok Management System.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Develop by <a href="https://tiktok.zerohero.ga">Alimstudio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <!-- JAVASCRIPT -->
    <script src="{{ url_for('static', filename='js/as.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/simplebar/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/node-waves/waves.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/feather-icons/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pages/plugins/lord-icon-2.1.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/prismjs/prism.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/sweetalert2/sweetalert2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    <!-- page javascript -->
    {% block javascript %}{% endblock %}

    <!-- App js -->
    <script src="{{ url_for('static', filename='js/app.min.js') }}"></script>

    {% block java %}{% endblock %}
</body>

</html>