<header id="page-topbar">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box horizontal-logo">
                    <a href="{{ baseUri }}admin/dashboard" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="{{ url_for('static', filename='images/logo-sm.png') }}" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{{ url_for('static', filename='images/logo-dark.png') }}" alt="" height="17">
                        </span>
                    </a>

                    <a href="{{ baseUri }}admin/dashboard" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="{{ url_for('static', filename='images/logo-sm.png') }}" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{{ url_for('static', filename='images/inalum-white.png') }}" alt="" height="17">
                        </span>
                    </a>
                </div>

                <button type="button" title="Hamburger" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>

            </div>

            <div class="d-flex align-items-center">
                <div class="d-none d-md-block me-2 header-item" style="font-size: 14px;font-weight: 300;height:21px">
                    <span class="me-2" id="dateGlobal">Senin, 15 January 2022</span> |
                    <span class="ms-2" id="timeGlobal">10:10:10</span>
                </div>

                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" title="Fullscreen" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" data-toggle="fullscreen">
                        <i class='bx bx-fullscreen fs-22'></i>
                    </button>
                </div>

                <style>
                    @media (min-width: 768px) {
                        .topbar-user {
                            background-color: transparent;
                            border: 1px solid var(--vz-topbar-user-bg);
                            border-top: none;
                            border-bottom: none;
                        }
                    }
                </style>

                <div class="dropdown ms-sm-3 header-item topbar-user">
                    <button type="button" title="{{ session.AS_USER[0]['nama'] }}" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="d-flex align-items-center">
                            <span class="text-start">
                                <span class="d-xl-inline-block ms-1 fw-medium user-name-text">{{ session.AS_USER[0]['nama'] }}</span>
                                <span class="d-xl-block ms-1 fs-12 text-muted user-name-sub-text">Created at {{ session.AS_USER[0]['created_at'] }}</span>
                            </span>
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <h6 class="dropdown-header">Welcome {{ session.AS_USER[0]['username'] }}!</h6>
                        <a class="dropdown-item" href="{{ baseUri }}auth/logout"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Logout</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>